.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.display {
  background: rgba(0, 0, 0, .7);
  border: .4rem solid #1ad1ff;
  border-radius: .5rem;
  font-family: 'Titillium Web', sans-serif;
  margin: auto;
  padding: 1rem .5rem;
  text-align: center;
  text-shadow: 0 0 .5rem #000;
  width: 24rem;
}

.drum-pad-block {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  min-height: 10vh;
}

.drum-pad {
  background: rgba(0, 0, 0, .7);
  border-radius: .5rem;
  border: .4rem solid #1ad1ff;
  color: #FFF;
  cursor: pointer;
  font-size: 1.5rem;
  margin: .5rem;
  padding: 1rem .5rem;
  text-align: center;
  text-shadow: 0 0 .5rem #000;
  width: 6rem;
}

.drum-pad {
  font-family: 'Titillium Web', sans-serif;
}
